/Users/mariliaruth/Desktop/ADA_SANTANDER/PROJETO_Tecnicas_de_Programacao_I/.conda
/Users/mariliaruth/Desktop/ADA_SANTANDER/PROJETO_Tecnicas_de_Programacao_I/Projeto_Pandas_Numpy/temp
temp/proj_final.ipynb